flows.json
[{"id":"d4031952.efb518","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a20ba631.2def28","type":"debug","z":"d4031952.efb518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":500,"wires":[]},{"id":"6e7842e9.3c8bcc","type":"function","z":"d4031952.efb518","name":"pre-token","func":"global.set(\"Pg\",msg.payload.Pg)\nglobal.set(\"Gl\",msg.payload.Gl)\nglobal.set(\"BP\",msg.payload.BP)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"In\",msg.payload.In)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"DP\",msg.payload.DP)\nglobal.set(\"Ag\",msg.payload.Ag)\nvar apikey=\"xgiejWqL_UN4wtLeeCLlTqS6c3PnfS194hzW1H7TV-z7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":360,"wires":[["6a4d4b4d.134614"]]},{"id":"6a4d4b4d.134614","type":"http request","z":"d4031952.efb518","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1182.0000038146973,"y":404.00000286102295,"wires":[["2688c046.550f","9c052fa1.e5005"]]},{"id":"2688c046.550f","type":"debug","z":"d4031952.efb518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":460,"wires":[]},{"id":"9c052fa1.e5005","type":"function","z":"d4031952.efb518","name":"Pre Prediction","func":"var Pg = global.get(\"Pg\")\nvar Gl = global.get(\"Gl\")\nvar BP = global.get(\"BP\")\nvar st = global.get(\"st\")\nvar In = global.get(\"In\")\nvar BMI = global.get(\"BMI\")\nvar DP = global.get(\"DP\")\nvar Ag = global.get(\"Ag\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Preg\", \"Glucose\", \"Bl Pr\", \"Sk Thick\", \"Insulin\", \"Body Mass\", \"Diab\", \"Age\"]],\"values\": [[Pg,Gl,BP,st,In,BMI,DP,Ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":360,"wires":[["3773bf1c.c4a77"]]},{"id":"3773bf1c.c4a77","type":"http request","z":"d4031952.efb518","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/9f632442-19e9-437c-829e-5f9f9fe301fe/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":1600,"y":380,"wires":[["ea50fe82.62261","77dfb597.bc2aec"]]},{"id":"ea50fe82.62261","type":"debug","z":"d4031952.efb518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1752.9999914169312,"y":464.00000381469727,"wires":[]},{"id":"f20f8a5e.673b48","type":"inject","z":"d4031952.efb518","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":220,"wires":[["6e7842e9.3c8bcc"]]},{"id":"4e4a64ac.dbee5c","type":"debug","z":"d4031952.efb518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1583.9999885559082,"y":247.0000057220459,"wires":[]},{"id":"77dfb597.bc2aec","type":"function","z":"d4031952.efb518","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1429.6000595092773,"y":288.00000190734863,"wires":[["4e4a64ac.dbee5c","8c82996a.a22668"]]},{"id":"8c82996a.a22668","type":"ui_text","z":"d4031952.efb518","group":"2ef74fac.25466","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1547.6000366210938,"y":521.2000122070312,"wires":[]},{"id":"b8266be8.b9bdb8","type":"ui_form","z":"d4031952.efb518","name":"","label":"","group":"63aa6659.c86888","order":1,"width":0,"height":0,"options":[{"label":"Preg","value":"Pg","type":"number","required":true,"rows":null},{"label":"Glucose","value":"Gl","type":"number","required":true,"rows":null},{"label":"Bl Pr","value":"BP","type":"number","required":true,"rows":null},{"label":"Sk Thick","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"In","type":"number","required":true,"rows":null},{"label":"Body Mass","value":"BMI","type":"number","required":true,"rows":null},{"label":"Diab","value":"DP","type":"number","required":true,"rows":null},{"label":"Age","value":"Ag","type":"number","required":true,"rows":null}],"formValue":{"Pg":"","Gl":"","BP":"","st":"","In":"","BMI":"","DP":"","Ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":840,"y":420,"wires":[["a20ba631.2def28","6e7842e9.3c8bcc"]]},{"id":"2ef74fac.25466","type":"ui_group","z":"d4031952.efb518","name":"True [1] False [0]","tab":"8ea6d85a.181878","order":2,"disp":true,"width":"6","collapse":false},{"id":"63aa6659.c86888","type":"ui_group","z":"","name":"Parameter Values","tab":"8ea6d85a.181878","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ea6d85a.181878","type":"ui_tab","z":"d4031952.efb518","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]